*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
  --mainColor:#f57224;
  --whiteColor:#fff;
  --blackColor:#000;
  --lightDark:#222;
}

body{
  position: relative;
  font-family: "Lato",sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  background-color: white;
  height: 100%;
  z-index: -1;
}

li,
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.container{
  width: 100%;
  padding: 0 30px;
}

/*Navbar Styles*/

nav{
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
}



.left{
  width: 50%;
  text-align: left;
}

.left li a{
 font-weight: 800;
  color: var(--mainColor);
  font-size: 24px;
}

.right{
  width: 50%;
  text-align: right;
}

.shoppingCart i{
  display: inline-block;
  font-size: 25px;
  color: var(--lightDark);
  margin-right: 12px;
  margin-top: 20px;

}

.cartCount{
  display: inline-block;
  font-size: 12px;
  width: 32px;
  height: 32px;
  background: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}

/*Banner Styles*/

header{
  width: 100%;
  background: url("./Assets/Banner.jpg");
  height: 350px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.headerText{
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerText h1{
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}

.headerText p{
  font-size: 15px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}

/*Product Style*/

.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product{
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.hot{
  position: absolute;
  top:0;
  background: orangered;
  padding: 5px 15px;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}

.new{
  position: absolute;
  top:0;
  background: green;
  padding: 5px 15px;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}


.product-image{
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  overflow: hidden;
}

.product-image img{
  width: 100%;
  height: 200px;
}

.product-name{
  font-size: 20px;
  font-weight: 600;
  color: deeppink;
  font-family: 'Raleway',sans-serif;
  margin: 8px 0;
}

.product-price{
  font-size: 20px;
  font-weight: 500;
  color: olive;
  font-family: 'Lato',sans-serif;
}

.add-to-cart{
  background: salmon;
  padding:10px 20px;
  width: 100%;
  color: var(--whiteColor);
  font-family:'Lato',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
}

.add-to-cart:hover{
  background: mediumslateblue;
  transition: all 200ms ease-in-out;
}

/*Not Found Styles*/

.not-found{
  margin-top: 200px;
}

/*Cart Styles*/

.cart-container{
  width: 100%;
  margin-top: 100px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-details{
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.cart{
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;
}

.cart-image{
  display: inline-block;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
}

.cart-image img{
  width: 100%;
  height: 100%;
}

.cart-product-name{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
}

.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: var(--mainColor);
}

.margincls{
  margin-top: 5px;
}

.inc{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid green;
  font-size: 14px;
  color: var(--mainColor);
  /*background: black;*/
  border-radius: 50%;
  cursor: pointer;
}

.product-quantity{
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}

.dec{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid orangered;
  font-size: 14px;
  color: black;
  /*background: black;*/
  border-radius: 50%;
  cursor: pointer;
}

.product-total-price{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  text-align: center;
}

.delete-product{
  border: none;
  color: rgb(187,58,58);
  cursor: pointer;
  font-size: 20px;
}

/*Cart Summary*/

.cart-summary{
   width: 25%;
  padding: 0 0 0 20px;
}

.summary{
  background: var(--whiteColor);
  margin-top: 100px;
  padding: 13px;
}

.summary h3{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: green;
  font-family: "Raleway",sans-serif;
}

.summary h3::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: rgb(140, 24, 182);
  bottom: -20px;
  left: 0;

}

.total-items{
  display: flex;
  margin:15px 0;
}

.items{
  width: 50%;
  text-align: left;
  padding-left: 10px;
  font-weight: normal;
}

.items-count{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}

.total-price-section{
  display: flex;
  margin: 15px 0;
}

.just-title{
  width: 50%;
  padding-left: 10px;
  text-align: left;
  font-weight: normal;
}

.items-price{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}



















